# Core Computer Vision and Image Processing Libraries
opencv-python>=4.10.0.84
numpy>=2.1.0

# Image Metadata and Advanced I/O
piexif>=1.1.3
Pillow>=10.4.0

# Visualization and Matrix Inspection
matplotlib>=3.9.2